# ==========================================
# ========= Backend .gitignore =============
# ==========================================

# Ignore automatically created Pycache when, for example, Flask App is started.
/__pycache__/