# Pipfile + Pipfile.lock replace old method using requirements.txt in context of Python packaging.
# Use same concept as e. g. Node's NPM using package.json and package.lock.son.

# Package sources (where you are downloading your packages from)
[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

# Package requirements for running the application and its versions (which packages you will use when running the application)
[packages]
flask = "*"
flask-sqlalchemy = "3.0.3"
Werkzeug = "2.2.2"
flask-migrate = "*"
sqlalchemy-serializer = "*"
flask-cors = "*"

# Package requirements for developing the application and its versions (which packages you will use when developing the application)
[dev-packages]

# Required Python version
[requires]
python_version = "3.12"
