---
# YAML Config for AWS Elastic Beanstalk 'HTTPS Single Instance Security Group'
#
# AWS EB Config Files should end with '.config'.
#
# AWS EB supports YAML and JSON.
# Use YAML to support comments in config file to understand the configs better!
#
# From AWS documentation (AWS EB -> HTTPS -> Terminate HTTPS at the instance):
# Use this configuration to configure the proxy server that passes traffic to 
# your application to terminate HTTPS connections. 
# This is useful if you want to use HTTPS with a single instance environment, 
# or if you configure your load balancer to pass traffic through without decrypting it.
# ************ Backend is configured as single instance environment!! ************
#
# To enable HTTPS, allow incoming traffic on port 443 to EC2 instance 
# that Elastic Beanstalk application is running on. 
# Do this by using the Resources key in configuration file to add a rule 
# for port 443 to the ingress rules for the AWSEBSecurityGroup security group.
Resources:
  sslSecurityGroupIngress: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0
