---
# Python Flask YAML Config for AWS Elastic Beanstalk
#
# AWS EB Config Files should end with '.config'.
#
# AWS EB supports YAML and JSON.
# Use YAML to support comments in config file to understand the configs better!
#
# This configuration specifies the WSGI entry point of 
# Python application as "application" within a file named "application".
option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: application:application
