---
# Frontend YAML Config for AWS Elastic Beanstalk
#
# AWS EB Config Files should end with '.config'.
#
# AWS EB supports YAML and JSON.
# Use YAML to support comments in config file to understand the configs better!

option_settings:

  # Starting on October 1, 2024, Amazon EC2 Auto Scaling service will no longer
  # support creation of launch configurations. Transition to launch templates
  # affects Elastic Beanstalk.
  #
  # As for new accounts, set at least one option listed in
  # section 'Option settings for launch templates' (Link below) to successfully
  # create a new environment. Auto Scaling service will only create environments
  # for new accounts using launch templates.
  #
  # Link: https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/environments-cfg-autoscaling-launch-templates.html#environments-cfg-autoscaling-launch-templates-options
  #
  # Code below is required, although the value has already been set in the console.
  # AWS EB has created a LaunchConfiguration instead of LaunchTemplate.
  # Once you have switched to LaunchTemplate, you can no longer switch to LaunchConfiguration
  # --> Code becomes unnecessary.
  # However, if the environment is changed to AWS EB (e. g. switch to new environment),
  # this code snippet is needed to ensure that deploying works.
  # Therefore keep it active.
  aws:autoscaling:launchconfiguration:
    DisableIMDSv1: true
